.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.slds-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.city {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.weather-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.weather {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.temperature,
.wind-speed,
.humidity {
    margin-bottom: 10px;
}